<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <title>foody - checkout</title>

    <!-- Styles -->
    <link href="/static/assets/css/core.min.css" rel="stylesheet">
    <link href="/static/assets/css/thesaas.min.css" rel="stylesheet">
    <link href="/static/assets/css/style.css" rel="stylesheet">

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="/static/assets/img/apple-touch-icon.png">
    <link rel="icon" href="/static/assets/img/favicon.png">
  </head>

  <body>


    <!-- Favicons -->
    <link rel="apple-touch-icon" href="/static/assets/img/apple-touch-icon.png">
    <link rel="icon" href="/static/assets/img/favicon.png">
  </head>

  <body>


    <!-- Topbar -->
    <nav class="topbar topbar-inverse topbar-expand-md topbar-sticky">
      <div class="container">
        
        <div class="topbar-left">

        </div>


        <div class="topbar-right">
          <ul class="topbar-nav nav">
            <li class="nav-item">
              <a class="nav-link" href="#">Samples <i class="fa fa-caret-down"></i></a>
              <div class="nav-submenu">
                <a class="nav-link" href="demo-helpato.html">Helpato</a>
                <a class="nav-link" href="demo-trello.html">Trello</a>
              </div>
            </li>
          </ul>
        </div>

      </div>
    </nav>
    <!-- END Topbar -->



    <!-- Header -->
    <header class="header header-inverse bg-fixed" style="background-image: url(/static/assets/img/bg-food5.jpeg)" data-overlay="8">
      <div class="container text-center">

        <div class="row">
          <div class="col-12 col-lg-8 offset-lg-2">

            <h1>Checkout</h1>
            <p class="fs-20 opacity-70">text goes in here</p>

          </div>
        </div>

      </div>
    </header>
    <!-- END Header -->




    <!-- Main container -->
    <main class="main-content">




      <!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | Products
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->
      <section class="section">
        <div class="container">

          <form class="row gap-y">
            <div class="col-12 col-lg-8">

              <table class="table table-cart">
                <tbody valign="middle">
                  <tr>
                    <td>
                      <a href="shop-single.html">
                        <img src="/static/assets/img/product-1.png" alt="...">
                      </a>
                    </td>

                    <td>
                      <h5>Apple Watch 2</h5>
                      <p>Superior Sports Watch</p>
                    </td>

                    <td>
                      <h4 class="price">$349</h4>
                    </td>
                  </tr>


            

                </tbody>
              </table>


              <br>
              <hr>
              <br>

              <h5 class="fs-16 mb-20">Shipping Address</h5>
              
              <div class="row">
                <div class="col-12 col-md-6 form-group">
                  <input class="form-control" type="text" placeholder="First name">
                </div>

                <div class="col-12 col-md-6 form-group">
                  <input class="form-control" type="text" placeholder="Last name">
                </div>

                <div class="col-12 col-md-6 form-group">
                  <input class="form-control" type="text" placeholder="Email Address">
                </div>

                <div class="col-12 col-md-6 form-group">
                  <input class="form-control" type="text" placeholder="Phone Number">
                </div>

                <div class="col-12 col-md-6 form-group">
                  <select class="form-control">
                    <option>Country</option>
                    <option>United States</option>
                    <option>United Kingdom</option>
                    <option>Germany</option>
                    <option>Canada</option>
                    <option>Spain</option>
                  </select>
                </div>

                <div class="col-12 col-md-6 form-group">
                  <select class="form-control">
                    <option>State</option>
                    <option>New York</option>
                    <option>California</option>
                    <option>Florida</option>
                    <option>New Mexico</option>
                    <option>Texas</option>
                  </select>
                </div>

                <div class="col-12 col-md-6 form-group">
                  <input class="form-control" type="text" placeholder="City">
                </div>

                <div class="col-12 col-md-6 form-group">
                  <input class="form-control" type="text" placeholder="Zip Code">
                </div>

                <div class="col-12 form-group">
                  <input class="form-control" type="text" placeholder="Address Line 1">
                </div>

                <div class="col-12 form-group">
                  <input class="form-control" type="text" placeholder="Address Line 2">
                </div>

                <div class="col-12 form-group">
                  <textarea class="form-control" placeholder="Additional instructions" rows="5"></textarea>
                </div>

              </div>

            </div>


            <div class="col-12 col-lg-4">
              <div class="cart-price">
                <div class="flexbox">
                  <div>
                    <p><strong>Subtotal:</strong></p>
                    <p><strong>Shipping:</strong></p>
                    <p><strong>Tax (%10):</strong></p>
                  </div>

                  <div>
                    <p>$3917</p>
                    <p>$39</p>
                    <p>$395</p>
                  </div>
                </div>

                <hr>

                <div class="flexbox">
                  <div>
                    <p><strong>Total:</strong></p>
                  </div>

                  <div>
                    <p class="fw-600">$4,351</p>
                  </div>
                </div>
              </div>

              <div class="flexbox">
                <a class="btn btn-secondary" href="#"><i class="ti-angle-left fs-9"></i> Revise</a>
                <button class="btn btn-primary" type="submit">Checkout <i class="ti-angle-right fs-9"></i></button>
              </div>
            </div>
          </form>



        </div>
      </section>






    </main>
    <!-- END Main container -->







    <!-- Scripts -->
    <script src="/static/assets/js/core.min.js"></script>
    <script src="/static/assets/js/thesaas.min.js"></script>
    <script src="/static/assets/js/script.js"></script>

  </body>
</html>
